@import 'variables.less';
@import 'mixins.less';

body.page-services {

  .fa-circle {
    color: @blue;
  }

  .background {
    background: @green;
    color: white;
    background: url(/assets/img/keyboard.png);
  }

  .pad {
    padding: 60px 0;
  }

  .pad-button {
    margin-top: 40px;
  }

  .service {
    background-color:rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
  }
}
