// main: ../style.less
@import 'variables.less';
@import 'mixins.less';

/* PORTFOLIO */
body.page-portfolio {
  background: @grey-background;
  color: @dark-text;

  .pad {
    padding: 60px 0;
  }

  .portfolio-item {
    // float: left;
    position: relative;
    padding: 0;

    &:hover {
      .overlay {
        opacity: 1;
      }
    }

    img {
      width: 100%;
    }

    .overlay {
      position:absolute; /* absolute position (so we can position it where we want)*/
      bottom:0px; /* position will be on bottom */
      left:0px;
      width:100%;
      height: 100%;
      /* styling bellow */
      background-color:rgba(0,0,0,0.6);
      opacity: 0;
      .transition(all .25s ease);

    }

    p {
      position: absolute;
      bottom: 5px;
      color: @light-text;
      text-align: center;
      width: 100%;
      font-weight: 700;
      font-size: 1.8em !important;
    }
  }

}
