<!-- Hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Simple, Effective Websites</h1>
        <h2>No BS. Just websites that get the job <span class="bold">done</span>.</h2>
        <a href="#" class="btn btn-green">Contact Us</a>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="/svg/blog-icon.svg" alt="Blogs" />
        <h2>Blogs</h2>
        <p>
          Need a site that you can easily update? We build blogs that allow you to easily keep your visitors up to date.
        </p>
      </div>
      <div class="col-md-4">
        <img src="/svg/ecommerce-icon.svg" alt="eCommerce" class="center-img"/>
        <h2>eCommerce</h2>
        <p>
          If you’re looking to sell online, look no further. We use <em>proven technology</em> to build great online stores.
        </p>
      </div>
      <div class="col-md-4">
        <img src="/svg/marketing-icon.svg" alt="Marketing" />
        <h2>Marketing</h2>
        <p>
          Just need a website to display your contact information and products? Keep it simple and low cost.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial -->
<div class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="testimonial-text">
          Spencer Carli was a great asset to me in building my organization’s brand. His web design process was completely seamless from beginning to end. I am so grateful that he was patient with me! I don’t consider myself creative at all so it was hard for me to articulate my vision. But he took it and ran with it! He kept communication with me the entire time and made sure I understood how to navigate through WordPress. Spencer has gained a new fan and I will refer all my business contacts to him for their web design needs!
        </p>
        <p class="testimonial-by">
          - <span class="name">Frechic Dickson</span>, From Lemons to Lemonade
        </p>
      </div>
    </div>
  </div>
</div>
