<div class="blue-bg">
  <div class="container">

    <div class="row">
      <nav class="navbar navbar-default navbar-footer" role="navigation">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% include navLinks.html %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <small>Copyright © 2014 Handlebar Labs</small>
        </p>
      </div>
    </div>
  </div>
</div>
