<h1>Mailing Lists: They Matter for Food Trucks</h1>
<span class="date">October 1, 2014</span>
<p>
  This week’s post is another one for the food truck crowd. I’ll be briefly covering the importance of a mailing list for your Food Truck.
</p>

<h2>Why a mailing list?</h2>
<p>Aren’t Facebook and Twitter enough?</p>

<p>They can be. But they’re also companies that have to make money and to do that they’re going to optimize <em>their</em> service to maximize <em>their</em> revenue… which may not lead to the best engagement with your fans.</p>

<p>Facebook has been doing this recently. Even if a fan “likes” your Food Truck’s Facebook page, they may not see your status update about where you’re going to be. <strong>Boom, sale lost.</strong></p>

<p>Another possibility is the service completely shuts down, or the service loses the interest of your fans. Do you have a Myspace page anymore? Social Media sites will come and go but one thing that has <strong>persisted since the dawn of the internet is email.</strong></p>

<p>With an email list you have <b>100% control</b> over what your subscribers see. Don’t worry about if Facebook is going to change their algorithm or if your Tweet gets lost in what’s trending on Twitter.</p>

<p>Email allows you to have direct access to your customers inbox.</p>
<h2><b>How to set up a mailing list for your food truck</b></h2>
<p>There are a variety of ways you can promote your mailing list. Have a sign up on your website, promote the link on your existing Social Media channels, and so on.</p>

<p>But how do you actually set up the list in the first place? I’m going to talk about one simple, free (to start) tool that makes it super easy for you.</p>

<p>That tool is <a href="http://mailchimp.com/" target="_blank">Mailchimp</a>.</p>

<p>Mailchimp will allow you to create, manage, and interact with your email list. I won’t go into details on how exactly to use it, <a href="http://kb.mailchimp.com/topics/getting-started" target="_blank">Mailchimp has a getting started guide</a> for that.</p>

<p>There are a variety of ways to build an email list but using Mailchimp is the easiest and cheapest that I’ve found yet.</p>
<h2><b>A word of warning</b></h2>
<p>As I mentioned before, with an email list you have direct access to your subscriber’s (customer) inbox. Use this power wisely.</p>

<p><b>Don’t spam them!</b></p>

<p>It’s not like social media where you can post something multiple times a day and people are fine with it.</p>

<p>Consider sending out a newsletter once a month with your schedule and maybe send an email once a week with cool things going on around your city that your customers would be interested in.</p>

<p>Stay engaged with your customers, build your list, and keep serving that delicious food.</p>
