<div class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <p>
          Copyright 2015 Handlebar Labs, LLC
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<%- js(['js/bootstrap.min.js', 'js/hbl.js']) %>
