<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Handlebar Labs | Websites for the Outdoors</title>
  <meta name="description" content="Websites for the outdoors and tactical industry. We build websites for the industry we know.">

  <link rel="icon" href="/images/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- css('less/style') %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:900,500,500italic,400,400italic' rel='stylesheet' type='text/css'>
</head>
