// main: main.less

body {
  background-color: #F5F5F5;
}

.site-header {
  display: none;
}

.site-inner {
  padding-top: 0;
}

.navbar-default {
  margin-bottom: 0;
}

// Landing Page
.page-template-pageslanding-php {

  main.content {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
