// main: main.less
// @font-face {
//     font-family: 'chunkfiveroman';
//     src: url('../fonts/chunkfive-webfont.eot');
//     src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/chunkfive-webfont.woff') format('woff'),
//          url('../fonts/chunkfive-webfont.ttf') format('truetype'),
//          url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:800);

.shadow() {
  -webkit-box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

h1, h2, h3, h4, h5, h6 {
  //  font-family: 'chunkfiveroman', Arial, sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
}


body {
  background-color: #34495E;
  background: url(../images/background.jpg);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.site-header {
  display: none;
}

.btn-primary {
  background: #34495E;
  border-color: #34495E;

  &:hover {
    background-color: #2C4257 !important;
  }
}

.site-inner {
  padding-top: 20px;
}

.comment-respond, .entry-comments, .entry-pings {
  margin-bottom: 20px;
}

@height: 70px;
@lnheight: 40px;
@headerbg: #fff;
.navbar-default {
  margin-bottom: 0;
  height: @height;
  background-color: @headerbg;
  border: none;
  // font-family: 'chunkfiveroman', Arial, sans-serif;
  font-family: 'Merriweather Sans', sans-serif;

  -webkit-box-shadow: -4px 6px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 29px -5px rgba(0,0,0,0.75);
  box-shadow: -4px 6px 29px -5px rgba(0,0,0,0.75);

  .navbar-brand {
    height: @height;
    font-size: 24px;
    line-height: @lnheight;
    text-transform: uppercase;
    font-weight: 900;
    color: #3C3C3C;
  }

  .navbar-nav>li>a {
    line-height: @lnheight;
    height: @height;
    color: #292929;
    font-weight: 500;
    font-size: 17px;
    background-color: @headerbg;

    &:hover {
      background: #FFF;
      border-bottom: 5px solid #34495E;
    }
  }

  .navbar-nav {
    margin-top: 0;
  }

  .navbar-toggle {
    margin-top: 17px;
  }
}

.site-footer {
  background: #34495E;
  color: #FFF;
}


// Landing Page
.page-template-pageslanding-php {

  main.content {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

// Widget
.sidebar {
  .widget {
    padding: 20px 30px;
    margin-bottom: 10px;
  }

  .widget_text {
    padding: 0;
  }

  .pad-widget {
    padding: 20px 30px;
  }

  .email-signup-widget {
    padding: 20px 30px;

    h4 {
      margin-top: 0;
      font-size: 21px;
    }

    .btn {
      margin-top: 10px;
    }
  }
}

// Content
.content {
  .entry {
    .shadow();
    margin-bottom: 10px;
    padding-top: 5px;

    .entry-title {
      a:hover {
        color: #34495E;
        text-decoration: none;
      }
    }
  }

  .author-box {
    .shadow();
    margin-bottom: 10px;

    .author-box-title {
      margin-top: 0;
      font-size: 20px;
    }
  }
}

.comment-respond, .entry-comments, .entry-pings, #disqus_thread {
  .shadow();
}

#disqus_thread {
  background: #FFF;
  padding: 20px 40px;
  margin-bottom: 20px;
}

.widget {
  .shadow();
}

// Footer
.site-footer {
  -webkit-box-shadow: -4px 6px 29px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 29px 5px rgba(0,0,0,0.75);
  box-shadow: -4px 6px 29px 5px rgba(0,0,0,0.75);
}
