/* Bootstrap */
@import 'bootstrap-3.3.4/bootstrap.less';

/* Components */
@import 'components/buttons.less';
@import 'components/navbar.less';

/* Pages */
@import 'pages/home.less';

/* GLOBAL STYLES */
body, html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

p, li, a {
  font-weight: 500;
  font-size: 23px;
  color: @text-body;
  line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: @brand-primary;
}

h2 {
  font-size: 40px;
  line-height: 53px;
}
