/* Bootstrap */
@import 'bootstrap.min.less';

/* Components */
@import 'components/typography.less';
@import 'components/buttons.less';
@import 'components/footer.less';
@import 'components/form.less';
@import 'components/navbar.less';

/* Pages */
@import 'pages/home.less';

/* GLOBAL STYLES */
body, html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
