body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}
.green-bg {
  background: #1abc9c;
  color: #ffffff;
}
.blue-bg {
  background: #34495e;
  color: #ffffff;
}
.orange-bg {
  background: #ff7a23;
}
/* TEXT*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
p,
ul,
ol,
dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
}
p {
  font-size: 17px !important;
  letter-spacing: -0.01rem;
  line-height: 1.85em;
}
h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}
.text-heavy {
  font-weight: 700;
}
.header-text {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
}
.lead-text {
  font-size: 50px;
  margin: 20px 0 20px 0;
  line-height: 1em;
  letter-spacing: -0.05em;
}
.mont-font {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4em;
}
/* BUTTONS */
.btn {
  border-radius: 0;
  font-size: 2em;
  font-weight: 700;
  margin: 10px;
}
.btn-blue {
  background: #34495e;
  border: none;
  border-bottom: 3px solid #2c3e4f;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}
.btn-blue:hover {
  background: #314457;
  border-bottom: 3px solid #2c3e4f;
}
.btn-blue:active {
  background: #2c3e4f;
  border-bottom: 3px solid #2c3e4f;
}
.btn-green {
  background: #1abc9c;
  border: none;
  border-bottom: 3px solid #15a084;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}
.btn-green:hover {
  background: #1ab596;
  border-bottom: 3px solid #15a084;
}
.btn-green:active {
  background: #15a084;
  border-bottom: 3px solid #15a084;
}
/* Navbar */
.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0;
  line-height: 0.9em;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #2c3e4f;
  background: #34495e;
  font-family: 'Montserrat', sans-serif;
}
.navbar-default .navbar-brand {
  font-weight: 800;
  color: white;
  font-size: 24px;
  line-height: 35px;
  height: 65px;
}
.navbar-default .navbar-brand:hover {
  color: #ffffff;
}
.navbar-default .navbar-toggle {
  margin-top: 16px;
  margin-bottom: 15px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  line-height: 35px;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
/* FOOTER NAV */
.navbar-footer {
  border: none !important;
}
.navbar-footer .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar-footer .navbar-collapse {
  text-align: center;
}
.navbar-footer .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-footer .navbar-nav > li > a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
.contact-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 4000;
  text-align: center;
}
.contact-overlay h1,
.contact-overlay h3,
.contact-overlay a {
  color: #ffffff;
}
.contact-overlay h1 {
  font-size: 105px;
  margin: 20px 0 20px 0;
  line-height: 0.9em;
  letter-spacing: -0.05em;
}
.contact-overlay h3 {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 830px) {
  .contact-overlay h1 {
    font-size: 80px;
  }
  .contact-overlay h3 {
    font-size: 18px;
  }
}
.contact-overlay a {
  text-decoration: underline;
}
.contact-overlay .close {
  padding: 30px;
  z-index: 5000;
}
.contact-overlay .close i {
  color: #ffffff;
}
.contact-overlay .contact-text {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
body.page-home {
  text-align: center;
  color: white;
  background: url(/assets/img/homepage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* TEXT */
}
body.page-home:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .7;
}
body.page-home .navbar-home {
  background: none;
}
body.page-home h1 {
  font-size: 105px;
  margin: 20px 0 20px 0;
  line-height: 0.9em;
  letter-spacing: -0.05em;
}
body.page-home h2 {
  font-size: 40px;
}
body.page-home h3 {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 830px) {
  body.page-home h1 {
    font-size: 80px;
  }
  body.page-home h2 {
    font-size: 30px;
  }
  body.page-home h3 {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  body.page-home h1 {
    font-size: 45px;
  }
  body.page-home h2 {
    font-size: 24px;
  }
}
body.page-services .fa-circle {
  color: #34495e;
}
body.page-services .background {
  background: #1abc9c;
  color: white;
  background: url(/assets/img/keyboard.png);
}
body.page-services .pad {
  padding: 60px 0;
}
body.page-services .pad-button {
  margin-top: 40px;
}
body.page-services .service {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
/* PORTFOLIO */
body.page-portfolio {
  background: #e0e0e0;
  color: #2f2f2f;
}
body.page-portfolio .pad {
  padding: 60px 0;
}
body.page-portfolio .portfolio-item {
  position: relative;
  padding: 0;
}
body.page-portfolio .portfolio-item:hover .overlay {
  opacity: 1;
}
body.page-portfolio .portfolio-item img {
  width: 100%;
}
body.page-portfolio .portfolio-item .overlay {
  position: absolute;
  /* absolute position (so we can position it where we want)*/
  bottom: 0px;
  /* position will be on bottom */
  left: 0px;
  width: 100%;
  height: 100%;
  /* styling bellow */
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
body.page-portfolio .portfolio-item p {
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.8em !important;
  margin-top: 40%;
}
.page-blog {
  font-size: 18px !important;
}
.page-blog h1,
.page-blog h2,
.page-blog h3,
.page-blog h4,
.page-blog h5,
.page-blog h6 {
  margin: 20px 0 20px 0;
  line-height: 1em;
  letter-spacing: -0.05em;
}
.page-blog p {
  font-size: 18px !important;
}
.page-blog h1 {
  font-size: 2.8em;
}
.page-blog h2 {
  font-size: 2.3em;
}
.page-blog h3 {
  font-size: 2em;
}
